<style>
.title {
    font-family: 'Arial'; 
    font-size: 30px; 
    font-weight: bold; 
    color: #3fc0c8; 
    margin-bottom: 0px;
}

.subtitle {
    font-family: 'Arial'; 
    font-size: 25px; 
    font-weight: bold; 
    margin-top: 0px;
}

.heading1 {
    font-family: 'Arial'; 
    font-size: 20px; 
    font-weight: bold; 
    color: #3fc0c8; 
    margin-bottom: 2px;
}

.heading2 {
    font-family: 'Arial'; 
    font-size: 15px; 
    font-weight: bold; 
    margin-bottom: 2px;
}

.textblock {
    font-family: 'Arial'; 
    font-size: 14px; 
    line-height: 1.3; 
    margin-top: 7px;
}

.divline {
    height: 1px; 
    border: none; 
    color: #333; 
    background-color: #333; 
    margin: 0px;
}
</style>
